/* Variables */

:root {
  --basic-smoky-white: #eeeeee;
  --basic-black: #000000;
  --basic-anthracite-grey: #283136;
  --basic-light-grey: #888888;
  --basic-crimson: #fb565a;
  --basic-сarmine-pink: #e74246;
  --basic-strawberry-red: #d7373b;
  --basic-green: #00ca74;
  --basic-jade: #00bc6c;
  --basic-green-shamrock: #00aa62;
  --basic-yellow: #efc849;
  --basic-yellow-ivory: #efc84a;
  --basic-saffron: #eab534;
  --basic-rich-yellow: #e5a722;
  --basic-dull-grey: #666666;
  --basic-white: #ffffff;
  --basic-dark-bluish-black: #444444;
  --basic-silver: #c4c4c4;
  --basic-tarpaulin-grey: #4d4d4d;
  --basic-White-aluminum: #a6a6a6;
  --basic-dark: #aba9a7;
  --basic-gainsborough: #d7dcde;
  --basic-gainsborough-light: #e1e1e1;
  --basic-gainsborough-dark: #dfdfdf;
  --basic-light-telegraph: #d5d5d5;
  --basic-light-grey-two: #b4b9bb;
}

/* Global */

body {
  min-width: 260px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0); /* IE6, IE7 */
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Grid*/

.page {
  height: 100%;
  margin: 0 auto;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
  background-color: var(--basic-white);
}

/*Grid for pages*/

.page-catalog {
  display: grid;
  grid-template-columns: 400px 1fr;
  align-content: start;
  width: 1440px;
  margin: 0 auto;
}

.filter-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--basic-white);
  margin: 0;
  padding-top: 55px;
  padding-right: 140px;
  padding-bottom: 43px;
  padding-left: 140px;
}

.cards-content {
  background-color: var(--basic-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 7px;
}

.site-card:nth-child(2n) {
  margin-left: 46px;
}

/* Main header */

.main-header {
  background-color: var(--basic-smoky-white);
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  width: 1440px;
  margin: 0 auto;
}

.main-header-bar {
  background-color: var(--basic-smoky-white);
}
.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 820px;
  /* margin: 0 auto;
  padding: 0 140px; */
}

.main-navigation-wrapper .active a:before {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 24px;
  right: 0;
  height: 2px;
  width: 73px;
  background: #fb565a;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 53px;
  padding: 0;
}

.site-navigation a {
  position: relative;
  background-color: var(--basic-black);
  display: block;
  /* padding: 22.5px 25px; */
  padding-right: 22.5px;
  padding-top: 22.5px;
  padding-left: 22.5px;
  padding-bottom: 22.5px;
}

.site-navigation a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */
.main-header-logo {
  justify-self: 140px;
  margin-left: 140px;
  margin-top: 50px;
  background-image: url(../img/svg/nerds-logo.svg);
  background-repeat: no-repeat;
}

.main-header-logo:link {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  background-image: url(../img/svg/nerds-logo.svg);
  background-repeat: no-repeat;
}

.main-header-logo:hover {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  background-image: url(../img/svg/nerds-logo.svg);
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 140px;
}

.main-header-logo:active {
  color: var(--basic-White-aluminum);
  background-color: var(--basic-smoky-white);
  background-image: url(../img/svg/nerds-logo-active.svg);
  background-repeat: no-repeat;
}

.site-navigation a:link {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.site-navigation a:visited {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: var(--basic-crimson);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.site-navigation a:active {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  opacity: 0.3;
}

.cart-navigation {
  width: auto;
  margin-top: 53px;
  padding: 0;
  position: relative;
}

.cart-navigation a {
  position: relative;
  background-color: var(--basic-black);
  display: block;
  /* padding: 22.5px 25px; */
  /* padding-right: 22.5px; */
  padding-top: 22.5px;
  padding-left: 22.5px;
  padding-bottom: 22.5px;
}

.cart-navigation li {
  background-color: var(--basic-smoky-white);
}

.cart-navigation a:link {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.cart-navigation a:visited {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.cart-navigation a:hover {
  color: var(--basic-crimson);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.cart-navigation a:active {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  opacity: 0.3;
}

.cart-navigation:before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 29px;
  left: -17px;
  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/** Restore**/

.restore-cart {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-self: flex-start;
  color: var(--basic-crimson);
  text-decoration: underline;
  flex-basis: 1;
  /* padding: 25px; */
}

/* Index columns */
.pol {
  width: 100%;
  background-color: var(--basic-smoky-white);
}

.index-columns {
  position: relative;
  min-height: 400px;
  background-color: var(--basic-smoky-white);
  width: 1440px;
  margin: 0 auto;
}

.info {
  position: absolute;
  width: 1440px;
  margin: 0 auto;
}

.index-columns .info {
  background-repeat: no-repeat;
  background-position-x: 535px;
  background-position-y: -30px;
}

.index-columns .info:nth-child(1) {
  /* background-image: url(../img/svg/nerds-index-slide1.svg); */
}

.index-columns .info:nth-child(2) {
  /* background-image: url(../img/svg/nerds-index-slide2.svg); */
}

.index-columns .info:nth-child(3) {
  /* background-image: url(../img/svg/nerds-index-slide3.svg); */
}
.info-img {
  position: absolute;
  top: -30px;
  right: 145px;
}

.cart-navigation img {
  justify-self: center;
  margin-right: 1px;
}

/* .index-columns h3 {
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-smoky-white);
  color: var(--basic-black);
}

.index-columns p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-anthracite-grey);
  background-color: var(--basic-smoky-white);
  padding-top: 27px;
  padding-bottom: 36px;
  margin: 0 auto;
} */

.index-description {
  margin-left: 140px;
  width: 560px;
  margin-bottom: 79px;
}

.index-description h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
  color: var(--basic-black);
  padding-top: 48px;
  /* padding-right: 60px; */
  padding-bottom: 12px;
  margin: 0;
}

.index-description p {
  margin-bottom: 26px;
  margin-top: 25px;
  line-height: 25px;
  /* padding-right: 60px; */
  font-weight: 200;
}

/*slider*/

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item {
  border: none;
  width: 760px;
  height: 431px;
}

/* Gallery */

.gallery-works {
  background-color: var(--basic-dark);
  border: none;
  min-width: 300px;
  min-height: 146px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-crimson);
  border-radius: 3px;
  width: 240px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

.button:link {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-crimson);
  border-radius: 3px;
  width: 240px;
}

.button:hover {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-сarmine-pink);
  border-radius: 3px;
  width: 240px;
}

.button:active {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-strawberry-red);
  border-radius: 3px;
  opacity: 0.3;
  width: 240px;
}

.button-contacts {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-crimson);
  border-radius: 3px;
  border: none;
  width: 219px;
  padding-top: 15px;
  padding-bottom: 11px;
  cursor: pointer;
}

.slider-button {
  position: absolute;
  bottom: 88px;
  left: 676px;
  z-index: 2;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-button button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button .current {
  background-color: var(--basic-white);
  background-image: url(../img/svg/Ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.buy-one {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-crimson);
  border-radius: 3px;
  width: 160px;
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 40px;
  margin-left: 25px;
  margin: 0;
}

.buy-one:link {
  color: var(--basic-white);
  background-color: var(--basic-сarmine-pink);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-one:hover {
  color: var(--basic-white);
  background-color: var(--basic-сarmine-pink);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-one:active {
  color: var(--basic-white);
  background-color: var(--basic-strawberry-red);
  opacity: 0.3;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-two {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  border-radius: 3px;
  width: 160px;
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 40px;
  margin-left: 25px;
  margin: 0;
}

.buy-two:link {
  color: var(--basic-white);
  background-color: var(--basic-jade);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-two:hover {
  color: var(--basic-white);
  background-color: var(--basic-jade);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-two:active {
  color: var(--basic-white);
  background-color: var(--basic-green-shamrock);
  opacity: 0.3;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-three {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  border-radius: 3px;
  width: 160px;
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 40px;
  margin-left: 25px;
  margin: 0;
}

.buy-three:link {
  color: var(--basic-white);
  background-color: var(--basic-yellow-ivory);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-three:hover {
  color: var(--basic-white);
  background-color: var(--basic-saffron);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.buy-three:active {
  color: var(--basic-white);
  background-color: var(--basic-rich-yellow);
  opacity: 0.3;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  width: 160px;
}

.button-modal {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-crimson);
  border-radius: 3px;
  width: 240px;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 83px;
  padding-right: 83px;
  margin-left: 25px;
  border: none;
}

/* Index-work */

.index-work {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("#");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-work h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
  margin: 0;
  padding-top: 25px;
}

.index-work p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0;
  padding-top: 17px;
  padding-bottom: 32px;
  font-weight: 100;
  letter-spacing: 1.1;
}

.works {
  display: flex;
  justify-content: flex-start;
  padding-top: 80px;
  width: 1440px;
  margin: 0 auto;
}

.works-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 140px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 1158px;
  border-bottom: 2px solid rgb(238, 238, 238);
}

.works-list :nth-child(3) {
  margin-right: 0;
}

.works-item {
  text-align: left;
  margin: 0;
  margin-right: 100px;
  margin-bottom: 80px;
  width: 300px;
}

.works-item h2 {
  display: grid;
}

.works-item img {
  display: grid;
}

/* index-features */

.index {
  background-color: var(--basic-white);
}

.index-features {
  margin: 0 auto;
  background-color: var(--basic-white);
}

.cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 40px;
  padding: 0px;
  width: 1158px;
  border-bottom: 2px solid rgb(238, 238, 238);
}

.features {
  position: relative;
  width: 660px;
  padding-bottom: 73px;
}

.features h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  background-color: var(--basic-whitey);
  color: var(--basic-black);
  margin: 0;
  padding-top: 34px;
  letter-spacing: -0.1px;
}

.features p {
  font-size: 16px;
  line-height: 22px;
  background-color: var(--basic-white);
  color: var(--basic-anthracite-grey);
  margin: 0;
  padding-top: 35px;
  width: 646px;
  font-weight: 100px;
  letter-spacing: -0.1px;
}

.features h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-anthracite-grey);
  margin: 0;
  padding-top: 42px;
}

.features-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  background-color: var(--basic-white);
  color: var(--basic-anthracite-grey);
  padding-left: 35px;
}

.features-list li {
  padding-top: 24px;
  margin: 0;
}

.features-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -1px;
  top: "#";
  margin-top: 10px;
  background-color: var(--basic-crimson);
}

.cooperation {
  width: 360px;
}
.gallery-cooperation {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 31px;
}

.subtitle-one {
  justify-self: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding-left: 18px;
  margin: 0 auto;
  padding-bottom: 27px;
}

.cooperation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.cooperation-item :nth-child(3) {
  padding: 0;
  margin: 0;
}

.cooperation-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-right: 22px;
  width: 98px;
}

.cooperation-list span {
  list-style: none;
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  text-align: left;
  background-color: var(--basic-white);
  color: var(--basic-black);
  margin: 0;
}

.cooperation-list sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.cooperation-list p {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  background-color: var(--basic-white);
  color: var(--basic-anthracite-grey);
  margin: 0;
  padding-top: 13px;
}

/* index-company */

.index-company {
  display: grid;
  justify-self: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  font-size: 0;
  margin: 0;
  padding-bottom: 80px;
}

.logo-company {
  display: grid;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  width: 1158px;
}

.logo-company-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
  padding-top: 60px;
  padding-bottom: 19px;
  column-gap: 100px;
  border-bottom: 2px solid #eeeeee;
}

.logo-company-item {
  /* padding-right: 50px; */
  position: relative;
}
.logo-academiya {
  position: relative;
  top: 1px;
  left: -9px;
}

.logo-borodinskiy {
  position: relative;
  top: -15px;
  left: -16px;
}

.logo-pink {
  position: relative;
  top: 5px;
  left: -13px;
}

.logo-mishka {
  position: relative;
  top: -10px;
  left: -13px;
}

.logo-company-item a:link {
  color: var(--basic-black);
  opacity: 0.2;
}

.logo-company-item a:hover {
  color: var(--basic-black);
  opacity: 1;
}

.logo-company-item a:active {
  color: var(--basic-black);
  opacity: 0, 8;
}
.logo-company-item img:link {
  opacity: 0.2;
}
.logo-company-item img:hover {
  opacity: 1;
}
.logo-company-item img:active {
  opacity: 0.2;
}

.logo-company-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  margin-left: 39px;
  background-color: var(--basic-smoky-white);
}

.logo-company-item:nth-child(2):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  margin-left: 29px;
  background-color: var(--basic-smoky-white);
}

.logo-company-item:nth-child(3):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  margin-left: 44px;
  background-color: var(--basic-smoky-white);
}
/* .logo-company-list li:not(:last-child):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  margin-left: 50px;
  background-color: var(--basic-smoky-white);
} */

/* main-footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  margin: 0 auto;
}

.index-footer {
  position: relative;
}

.gallery-footer-map {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: no-repeat;
  justify-self: stretch;
  margin: 0 auto;
  padding: 0;
}
.gallery-footer-map iframe {
  border: none;
}

.footer-container {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  left: 140px;
  top: 54px;
  /* width: 308px; */
  padding: 50px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.footer-container div {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--basic-white);
  color: var(--basic-black);
  margin: 0;
  padding-bottom: 23px;
}

.footer-container p {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  background-color: var(--basic-white);
  color: var(--basic-dull-grey);
  margin: 0;
  padding-bottom: 14px;
  letter-spacing: -0.2px;
}

.contacts-text {
  padding-bottom: 35px;
}

.gallery-point-map {
  color: var(--basic-black);
  background-color: url(#);
  background-position: 0 0;
  background-repeat: no-repeat;
  color: var(--basic-black);
  position: absolute;
  margin-left: 822px;
  top: 70px;
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
  padding-left: 140px;
  padding-top: 64px;
  padding-bottom: 68px;
}

.footer-socials-list {
  list-style: none;
  display: inline-flex;
  column-gap: 9px;
  padding: 0;
  margin: 0;
}

/* Social button */

.social-button {
  list-style: none;
  width: 81px;
  min-height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gainsborough-light);
  display: block;
}

.social-button:link {
  color: var(--basic-white);
  background-color: var(--basic-gainsborough-light);
}

.social-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-сarmine-pink);
}

.social-button:active {
  color: var(--basic-white);
  background-color: var(--basic-strawberry-red);
}

.vk-icon {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 27px;
  padding-right: 27.99px;
}
.vk-icon:active {
  opacity: 0.3;
}

.fb-icon {
  display: block;
  padding-top: 31px;
  padding-bottom: 28px;
  padding-left: 35px;
  padding-right: 34px;
}

.fb-icon:active {
  opacity: 0.3;
}

.insta-icon {
  display: block;
  padding: 30px;
}

.insta-icon:active {
  opacity: 0.3;
}

.footer-discount {
  padding-top: 6px;
  padding-left: 75px;
}

.footer-discount h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 12px;
}

.footer-discount p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-bluish-black);
  margin: 0;
}
/* Modal */

.modals {
  display: block;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  margin: auto;
}

.modal-contact {
  display: none;
  position: fixed;
  top: 156px;
  left: calc(50% - 480px);
  z-index: 3;
  color: var(--basic-black);
  background-color: var(--basic-white);
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 760px;
  padding: 68px 100px 85px 100px;
}

.modal-contact h2 {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal-contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.modal-contacts-row p {
  width: 360px;
}
.modal-button-close {
  width: 27px;
  height: 27px;
  padding: 0;
  /* position: fixed; */
  position: absolute;
  top: 77px;
  right: 87px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.modal-button-close:hover {
  opacity: 1;
}

.modal-button-close:active {
  opacity: 0.1;
}

.modal-button-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 27px;
  height: 5px;

  background-color: #fb565a;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-button-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 27px;
  height: 5px;

  background-color: #fb565a;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Login form */
.login-form {
  position: relative;
}

.login-form label {
  line-height: 18px;
  color: var(--basic-black);
  font-weight: bold;
}

.login-form textarea,
.login-form input {
  font: inherit;
  color: var(--basic-black);
  padding: 13px;
  width: 100%;
  background-color: transparent;
  line-height: 18px;
  border: 2px solid var(--basic-gainsborough);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-form input:focus {
  border-color: var(--special);
}

/* Catalog */

/* Header-catalog*/

.store {
  padding: 0;
  margin: 0 auto;
}

.store h1 {
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-smoky-white);
  color: var(--basic-black);
  text-align: center;
  padding-top: 48px;
  padding-bottom: 107px;
  margin: 0 auto;
}

/* Main-catalog */

.filters {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("#");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  padding-left: 140px;
  padding-top: 55px;
}

.parameters {
  border: medium;
  padding: 0;
}

.parameters-one {
  border: medium;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 45px;
}

.parameters-list li:last-child {
  padding-bottom: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 60px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 5px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  margin-left: 1%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 7%;
}

.range-controls .toggle-max {
  left: 62%;
}
.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 8px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0;
}

.sort h3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
  width: 360px;
}

.parameters-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 17px;
}

.parameters-item {
  text-align: left;
  background-color: var(--basic-white);
  color: var(--basic-anthracite-grey);
  padding-bottom: 17px;
  padding-left: 35px;
}

.parameters-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input:not(:disabled):hover + label::before,
.filter-input:not(:disabled):hover + label::after,
.filter-input:not(:disabled):focus + label::before,
.filter-input:not(:disabled):focus + label::after {
  opacity: 1;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input:checked + label::before {
  display: none;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  font-size: 27px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  font-family: simbol-nerds;
  background-image: url(../img/svg/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/circle.svg);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-off.svg);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-on.svg);
}

/* catalog-button */

.button-show {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-smoky-white);
  border-radius: 3px;
  border: none;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 88px;
  padding-right: 89px;
  box-sizing: border-box;
  display: block;
}

.button-show:hover {
  background-color: var(--basic-gainsborough-dark);
}

.button-show:active {
  background-color: var(--basic-light-telegraph);
  color: rgba(0, 0, 0, 0.3);
}

.button-price {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-crimson);
  border-radius: 3px;
  width: 200px;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  margin-bottom: 44px;

  display: block;
}

.button-price:hover {
  background-color: var(--basic-сarmine-pink);
}

.button-price:active {
  background-color: var(--basic-strawberry-red);
}

.sort-list li {
  padding-left: 25px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  width: 360px;
  padding-top: 7px;
}

.sort-list-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  width: 273px;
}

.sort-list-one li {
  padding: 0;
  margin: 0;
}

.sort-list-two {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  width: 42px;
}

.sort-list-two li {
  /* padding: 0;
  margin: 0; */
}

.sort-item-up {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-up-gray.svg);
  background-repeat: no-repeat;
  /* margin: 0; */
  margin-top: 3px;
  margin-left: 4px;
  cursor: pointer;
  opacity: 0.2;
}

.sort-item-up:hover {
  color: var (--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-up-gray.svg);
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-left: 4px;
  cursor: pointer;
  opacity: 1;
}

.sort-item-up:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-up-black.svg);
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-left: 4px;
}

.sort-item-down {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-down-black.svg);
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-left: 1px;
  /* margin: 0; */
  /* opacity: 0.2; */
}

.sort-item-down:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-down-black.svg);
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-left: 1px;
  opacity: 1;
  cursor: pointer;
}

.sort-item-down:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-down-black.svg);
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-left: 1px;
  cursor: pointer;
}

.sort-list a {
  color: var(--basic-black);
  opacity: 30%;
}

.sort-list a:hover {
  text-align: left;
  color: var(--basic-black);
  opacity: 60%;
}

.sort-list a.active,
.sort-list a:active {
  text-align: left;
  color: var(--basic-black);
  opacity: 1;
}

.site-card-buttons {
  background-color: var(--basic-tarpaulin-grey);
  opacity: 0.12;
  height: 40px;
  width: 358px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cards-buttonss-active {
  background-color: var(--basic-tarpaulin-grey);
  opacity: 0.12;
  height: 40px;
  width: 356px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;
}
.cards-buttonss {
  background-color: var(--basic-tarpaulin-grey);
  opacity: 0.12;
  height: 40px;
  width: 358px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.site-card-buttons-active {
  padding-left: 11px;
  padding-top: 2px;
  /* background-color: var(--basic-tarpaulin-grey);
  opacity: 0.12;
  height: 40px;
  width: 358px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1; */
}
.site-card-buttons {
  padding-left: 11px;
  padding-top: 2px;
  width: 345px;
  /* background-color: var(--basic-tarpaulin-grey);
  opacity: 0.12;
  height: 40px;
  width: 358px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1; */
}
.site-card-buttons-active button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--basic-gainsborough-light);
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

.site-card-buttons button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--basic-gainsborough-light);
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

.site-card:hover .site-card-buttons {
  opacity: 1;
}

.card-price-block {
  background-color: var(--basic-smoky-white);
  visibility: hidden;
  min-height: 231px;
  width: 358px;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-price-block-active {
  background-color: var(--basic-smoky-white);
  visibility: hidden;
  min-height: 231px;
  width: 358px;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-price-block p {
  width: 255px;
  padding-left: 52px;
  padding-right: 52px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 20px;

  line-height: 18px;
  text-align: center;
  color: #666666;
}

.card-price-block-active p {
  width: 255px;
  padding-left: 52px;
  padding-right: 52px;
  margin-bottom: 30px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.site-card {
  position: relative;
  width: 356px;
  min-height: 578px;
  margin-bottom: 26px;
}

.site-card:hover .card-price-block {
  visibility: visible;
}
.site-card .card-price-block-active {
  visibility: visible;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 70px;
  margin-top: 40px;
}

.pagination-item a {
  padding: 12px 18px;
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.pagination-item .active {
  background-color: #ffffff;
}

.pagination-item:last-child a {
  padding: 12px 75px;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list a[href]:hover,
.pagination-list a[href]:focus {
  background-color: #dfdfdf;
}

.pagination-list a[href]:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item .next-page {
  padding: 15px 78px;
}

.name-cite {
  color: var(--basic-black);
  margin: 0;
  /* margin-top: 22px; */
  padding-top: 25px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.name-cite:hover {
  color: var(--basic-crimson);
}

.name-cite:active {
  color: var(--basic-black);
  opacity: 0.3;
}
